<div class="about grid-x grid-padding-x">
  <div ng-include="'views/partials/_sidebar.html'" class="cell medium-3 side-bar"></div>
  <div class="cell auto">
    <div class="grid-x grid-padding-x grid-padding-y align-center">
      <div class="cell small-8 medium-7 large-6 text-center">
        <ng-include src="'images/404.svg'" alt="404"></ng-include>
        <br>
        <br>
        <h3 class="muted">Something didn't go right!!</h3>
        <!-- <h5 class="muted">Why did you type that..</h5> -->
        <br>
        <a href="javascript:history.back();" class="button">Let's try again from previous page</a>
      </div>
    </div>
  </div>
</div>
