<project-image-container src="{{getCurrentProjectImageAssetUrl('table-top-interface-3.jpg')}}" alt="Project setup"></project-image-container>
<p>Orchestable was developed as a capstone project for my bachelor of technology degeree. At the time there were apps to play musical instruments on a touch device but there were limitations, Most of the apps were allowing playing of a single instrument at a time. And among all the apps I studied, more than half were single touch input apps. This can be very problematic while playing musical instruments since, almost all instruments realistically need multi-touch input. I set out to solve this problem.</p>
<p>The first step in the project was to define the target users, <strong>beginners</strong> and <strong>hobyist</strong> musicians.</p>
<div class="grid-x grid-margin-x grid-margin-y image-grid-container">
  <div class="cell small-12 medium-4 large-4">
    <project-image-container src="{{getCurrentProjectImageAssetUrl('musician-piano.svg')}}" alt="Target user" data-width="478" data-height="578"></project-image-container>
  </div>
  <div class="cell small-12 medium-6 large-6">
    <project-image-container src="{{getCurrentProjectImageAssetUrl('musician-drums.svg')}}" alt="Target user" data-width="599" data-height="462"></project-image-container>
  </div>
</div>
<section>
  <h6 class="section-heading">User Research</h6>
  <div class="section-body">
    <p>During my secondary research, I found that musicians who were using the digital apps for playing music instruments were trying to play multiple instrument in groups using this application but using multiple devices.</p>
    <p>Next, I did field research to understand how they use muscial instruments and what are critical requirements for an on-screen digital interface to do similar activities. After interviewing 2 musicians, I derived 4 key findings from the research</p>
    <ul>
      <li>People are hesitant of investing too much money in the beginning.</li>
      <li>Being able to move the device is important.</li>
      <li>People want to try various instruments.</li>
      <li>People often practice and compose in groups.</li>
    </ul>
    <p>Based on these findings, I came up with 6 design guidelines</p>
    <ul>
      <li>It has to be a low cost device to make it affordable</li>
      <li>User should be able to dismantle the setup in order to move it around</li>
      <li>The process of assembling the setup should be fairly easy to make it less time consuming</li>
      <li>The touch screen should be big enough for a group of people to interact simultaneously</li>
      <li>The interface should provide access to various instruments</li>
      <li>The interface should allow selection of multiple instruments</li>
    </ul>
    <p>I used these design guidelines to brainstorm and sketch some concepts for a interface that can be used by multiple people to play digital music instruments together. There were two parts to the setup, physical interface and digital interface. I chose 4 music instruments to design the digital interface for: Piano, Octapad, Congos and Drums.</p>
    <div class="grid-x grid-margin-x grid-margin-y image-grid-container">
      <div class="cell small-12 medium-6 large-4">
        <project-image-container src="{{getCurrentProjectImageAssetUrl('sketch-hardware-interface-1.jpg')}}" alt="Sketch of 1st proposed hardware interface" data-width="800" data-height="600"></project-image-container>
      </div>
      <div class="cell small-12 medium-6 large-4">
        <project-image-container src="{{getCurrentProjectImageAssetUrl('sketch-hardware-interface-2.jpg')}}" alt="Sketch of 2nd proposed hardware interface" data-width="800" data-height="600"></project-image-container>
      </div>
      <div class="cell small-12 medium-6 large-4">
        <project-image-container src="{{getCurrentProjectImageAssetUrl('sketch-hardware-interface-3.jpg')}}" alt="Sketch of 3rd proposed hardware interface" data-width="800" data-height="600"></project-image-container>
      </div>
      <div class="cell small-12 medium-6 large-4">
        <project-image-container src="{{getCurrentProjectImageAssetUrl('sketch-digital-interface-1.jpg')}}" alt="Sketch of 1st proposed digital interface" data-width="800" data-height="600"></project-image-container>
      </div>
      <div class="cell small-12 medium-6 large-4">
        <project-image-container src="{{getCurrentProjectImageAssetUrl('sketch-digital-interface-2.jpg')}}" alt="Sketch of 2nd proposed digital interface" data-width="800" data-height="600"></project-image-container>
      </div>
      <div class="cell small-12 medium-6 large-4">
        <project-image-container src="{{getCurrentProjectImageAssetUrl('sketch-digital-interface-3.jpg')}}" alt="Sketch of 3rd proposed digital interface" data-width="800" data-height="600"></project-image-container>
      </div>
    </div>
    <p>From the field research and ideation, it was certain that a touch interface would be best possible option. The challenge became</p>
    <blockquote class="intro">how to make a low budget big touch screen which offer scalability and portability</blockquote>
  </div>
</section>
<section>
  <h6 class="section-heading">Physical Prototyping</h6>
  <div class="section-body">
    <p>A big capacitive touch screens was expensive, so I did some research on low cost methods of making a touch screen using camera.</p>
    <div class="grid-x grid-margin-x grid-margin-y image-grid-container">
      <div class="cell small-12 medium-6 large-6" ng-repeat="image in [ 'ftir.jpg', 'dsi.jpg', 'rdi.jpg', 'llp.jpg', 'fdi.jpg', 'ledlp.jpg']">
        <project-image-container src="{{getCurrentProjectImageAssetUrl(image)}}" alt="IR based touch technology" data-width="450" data-height="288"></project-image-container>
      </div>
    </div>
    <p>Although the most accurate and effective of the 6 methods is Frustated Internal Reflection (FTIR), it is also most expensive. Keeping the design guidelines in mind, I selected two technology, Rear Diffused Illumination (RDI) and Front Diffused illumination (FDI). The touch screen using any of the two methods</p>
    <ul>
      <li>is the cheapest hardware solutions among all six of them, still reasonably accurate unlike LED Light Plane method</li>
      <li>can be put together using simple tools like "light bulb" for IR emission, a normal glass sheet and a diffuser for projection.</li>
    </ul>
    <div class="grid-x grid-margin-x grid-margin-y image-grid-container">
      <div class="cell small-12 medium-3 large-3" ng-repeat="image in [ {'name':'rdi-touch-surface.jpg','alt':'Rear diffused illumination','class':'shadow-purple'}, {'name':'fdi-touch-surface.jpg','alt':'Front diffused illumination','class':'shadow-purple'}, {'name':'ledlp-touch-surface.jpg','alt':'LED light plane'}, {'name':'llp-touch-surface.jpg','alt':'Laser light place'}, {'name':'dsi-touch-surface.jpg','alt':'Diffused screen illumination'}, {'name':'ftir-touch-surface.jpg','alt':'Frustrated internal reflection'}]">
        <project-image-container class="show-caption {{image.class}}" src="{{getCurrentProjectImageAssetUrl(image.name)}}" alt="{{image.alt}}" data-width="205" data-height="154"></project-image-container>
      </div>
    </div>
    <p>I built a smaller prototype of the table design to test both techonlogies. The testing concluded with rear diffused illumination offering a simpler and more compact setup.</p>
    <project-image-container src="{{getCurrentProjectImageAssetUrl('box-prototype.png')}}" alt="Box prototype" data-width="220" data-height="165"></project-image-container>
  </div>
</section>
<section>
  <h6 class="section-heading">Table-top interface</h6>
  <div class="section-body">
    <p>Using rear diffused infrared illumination technique and testing it with box prototype, I built a table form factor for the touch screen interface. The hardware of the project was implemented using a simple IR camera, plain glass sheet, wooden table and a short-throw projector. The cost for the complete setup was $550 excluding the computer.</p>
    <div class="grid-x grid-margin-x grid-margin-y image-grid-container">
      <div class="cell small-12 medium-6 large-6" ng-repeat="image in [ 'table-top-interface-1.jpg', 'table-top-interface-2.jpg', 'table-top-interface-3.jpg', 'table-top-interface-5.jpg']">
        <project-image-container src="{{getCurrentProjectImageAssetUrl(image)}}" alt="Table top interface" data-width="720" data-height="480"></project-image-container>
      </div>
    </div>
  </div>
</section>
<section>
  <h6 class="section-heading">Digital interface</h6>
  <div class="section-body">
    <p>The interface for the table has a collection of 4 instruments to choose from: piano, drums, congo, and octapad. I designed it to look like a stage to give some context. Selecting an instrument from the stage will bring up another screen, play screen, with a floating window of the instrument. By repeating the process of selecting an instrument fron the stage, multiple instruments can be added to the play screen. Every instrument window can be moved and arranged freely on the table top according to the positions of the musicians.</p>
    <div class="grid-x grid-margin-x grid-margin-y image-grid-container">
      <div class="cell small-12 medium-6 large-6" ng-repeat="image in [ 'digital-interface-1.jpg', 'digital-interface-2.jpg', 'digital-interface-3.jpg', 'digital-interface-4.jpg']">
        <project-image-container src="{{getCurrentProjectImageAssetUrl(image)}}" alt="Digital interface" data-width="720" data-height="480"></project-image-container>
      </div>
    </div>
  </div>
</section>
<section>
  <div class="section-body">
    <p>Later, I collborated with a colleague and added interface for real physical instruments to it using MAX/MSP. Now a group can practice and/or compose music using Orchestable for digital version of the instruments and connect their physical instruments and use the filter and effects built into the project.</p>
    <project-video-container src="dXlXYIry934" data-width="720" data-height="405" youtube></project-video-container>
  </div>
</section>