.error-404-page {
  img, svg {
    font-size: 6rem;
    font-weight: bold;
    color: #434a54;
  }
  a {
    color: #555;
    text-decoration: none;
    border-bottom: 1px #555 dotted;
    &:hover {
      color: #7B0000;
      border-color: #7B0000;
    }
  }
  .muted {
    color: #6c7787;
  }
}