
.about-page {

  article {

    section {
      margin-top: 1rem;

      &:first-child {
        margin-top: 0;
      }

      &.intro {
        letter-spacing: 0.04rem;

        .section-head {
          display: inline-block;
          text-align: initial;
        }

        .sub-heading {
          font-size: 1.5rem;
          color: #5d5d5d;
          font-weight: bold;
          font-family: "Open sans";

          .wildcard-tooltip-link {
            font-weight: normal;
            cursor: pointer;
          }
          .wildcard-tip {
            .close-button {
              display: none !important;
            }
            .wildcard-tooltip {
              font-family: "Source Sans Pro","Helvetica Neue",Helvetica,Helvetica,Arial,sans-serif;
              font-weight: normal;
              width: 380px;
              font-size: 15px;
              line-height: 1.43;
              text-align: left;
              color: #FFF;
              padding: 10px;
            }
          }
        }
        img {
        }
        .section-body {
          padding-top: 1.5rem;
        }
      }

      .section-body {
        color: #555;
      }

      .box {
        width:50px;
        height:50px;
        position:relative;
        margin-bottom:2px;

        &.red {
          background-color:red;
        }
      }
    }
  }
}

.direction-aware-container {

  $duration: 300ms;
  $timing-fn: ease;
  $turquoise: #7B0000;
  $wet-asphalt: #34495E;
  $midnight-blue: #2C3E50;
  $clouds: #ECF0F1;

  /* the important bits */
  li {
    perspective: 400px;
  }

  .info {
    // hide-initial-state
    transform: rotate3d(1,0,0, 90deg);

    width: 100%;
    height: 100%;
    padding: 20px;
    position: absolute;
    top: 0;
    left: 0;
    border-radius: 4px;
    pointer-events: none;
    background-color: transparentize($turquoise, .1);
    color: transparentize(#fff, .2);

    h6 {
              margin: 0;
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        font-size: 1.5rem;
    }
  }

  .in-top .info {
     transform-origin: 50% 0%;
     animation: in-top $duration $timing-fn 0ms 1 forwards;
  }
  .in-right .info {
    transform-origin: 100% 0%;
    animation: in-right $duration $timing-fn 0ms 1 forwards;
  }
  .in-bottom .info {
    transform-origin: 50% 100%;
    animation: in-bottom $duration $timing-fn 0ms 1 forwards;
  }
  .in-left .info {
    transform-origin: 0% 0%;
    animation: in-left $duration $timing-fn 0ms 1 forwards;
  }

  .out-top .info {
    transform-origin: 50% 0%;
    animation: out-top $duration $timing-fn 0ms 1 forwards;
  }
  .out-right .info {
    transform-origin: 100% 50%;
    animation: out-right $duration $timing-fn 0ms 1 forwards;
  }
  .out-bottom .info {
    transform-origin: 50% 100%;
    animation: out-bottom $duration $timing-fn 0ms 1 forwards;
  }
  .out-left .info {
    transform-origin: 0% 0%;
    animation: out-left $duration $timing-fn 0ms 1 forwards;
  }

  @keyframes in-top {
    from {transform: rotate3d(-1,0,0, 90deg)}
    to   {transform: rotate3d(0,0,0, 0deg)}}
  @keyframes in-right {
    from {transform: rotate3d(0,-1,0, 90deg)}
    to   {transform: rotate3d(0,0,0, 0deg)}}
  @keyframes in-bottom {
    from {transform: rotate3d(1,0,0, 90deg)}
    to   {transform: rotate3d(0,0,0, 0deg)}}
  @keyframes in-left {
    from {transform: rotate3d(0,1,0, 90deg)}
    to   {transform: rotate3d(0,0,0, 0deg)}}

  @keyframes out-top {
    from {transform: rotate3d(0,0,0, 0deg)}
    to   {transform: rotate3d(-1,0,0, 104deg)}}
  @keyframes out-right {
    from {transform: rotate3d(0,0,0, 0deg)}
    to   {transform: rotate3d(0,-1,0, 104deg)}}
  @keyframes out-bottom {
    from {transform: rotate3d(0,0,0, 0deg)}
    to   {transform: rotate3d(1,0,0, 104deg)}}
  @keyframes out-left {
    from {transform: rotate3d(0,0,0, 0deg)}
    to   {transform: rotate3d(0,1,0, 104deg)}}


  /* you can ignore this ones */
  ul {
    padding: 0;
    margin: 0 0 50px;

    &:after {
      content: "";
      display: table;
      clear: both;
    }
  }

  li {
    position: relative;
    float: left;
    width: 200px;
    height: 200px;
    margin: 5px;
    padding: 0;
    list-style: none;

    a  {
      display: inline-block;
      vertical-align: top;
      text-decoration: none;
      border-radius: 4px;
    }

    p  {
      font-size: 12px;
      line-height: 1.5;
      color: transparentize(#fff, .2);
    }

    .normal {
      width: 100%;
      height: 100%;
      background-color: $clouds;
      color: transparentize($wet-asphalt, .4);
      box-shadow: inset 0 2px 20px darken($clouds, 2);
      font-size: 50px;
      line-height: 200px;

      svg, img {
        pointer-events: none;
        width: 50%;
        height: 50%;
        margin: 0;
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        &.default path {
          fill: transparentize($wet-asphalt, .8);
        }
      }
    }
  }

  * {
    box-sizing: border-box;
  }

  .container {
    width: 840px;
    margin: 0 auto;
  }

}




.scroll-magic {
  display: none;

  .dummy {
    position: absolute;
    top: 0;
    left: 0;
    width: 10px;
    height: 300%;
    background: blue;
  }

  *:before {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    text-align: center;
    line-height: 50px;
    font-size: 20px;
    color: white;
    text-shadow: 3px 3px 0 rgba(0, 0, 0, 1);
  }

  .pink {
    background: magenta !important;
  }

  .pin {
    position: absolute;
    z-index: 1;
    top: 50%;
    left: 100px;
    width: 100px;
    height: 50px;
    background: red;
  }

  .pin:before {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    text-align: center;
    line-height: 50px;
    font-size: 20px;
    color: white;
    text-shadow: 3px 3px 0 rgba(0, 0, 0, 1);
  }

  .pin:before {
    content: "Pin 1";
  }

  .trigger {
    position: absolute;
    z-index: 0;
    top: 100%;
    left: 100px;
    right: 100px;
    height: 500px;
    background: yellow;
    opacity: 0.5;
  }

  .tween1 {
    position: fixed;
    z-index: 2;
    top: 50%;
    left: 400px;
    width: 100px;
    height: 50px;
    background: green;
  }

  .tween1:before {
    content: "Tween 1";
  }

  .mixed {
    position: absolute;
    z-index: 2;
    top: 75%;
    left: 100px;
    width: 100px;
    height: 50px;
    background: purple;
  }

  .mixed:before {
    content: "Mixed 1";
  }

  .tween2 {
    position: fixed;
    z-index: 1;
    top: 60%;
    left: 0;
    width: 100px;
    height: 50px;
    background: orange;
  }

  .tween2:before {
    content: "Tween 2";
  }
}