html, body {
  font-family: 'HelveticaNeue-Light';
}

a {
  cursor: pointer;
}

.smaller {
  font-size: 0.7em;
}

.logo {
  margin-top: 12%;
  margin-bottom: 30px;
}
.tagline {
  font-size: 1.7em;
  color: #575757;
  text-align: center;

  a {
    color: #7B0000;
    font-family: 'HelveticaNeue';
  }
}

@include landing-top-nav;

  @include landing-footer;


.page-scroll {
  position: fixed;
  bottom: 0;
  right: 0;
  left: 0;

  span {
    display: block;
    text-align: center;
    font: 400 .75rem Apercu;
    color: #ccc;
    text-transform: uppercase;
    letter-spacing: .09rem;
    opacity: 0;
  }
  .bar {
    display: block;
    position: relative;
    margin: .9375rem auto 0;
    width: 2px;
    height: 60px;
    background: #ccc;
    -webkit-transform: translate3d(0,100%,0);
    transform: translate3d(0,100%,0);
  }
  &.is-hidden span {
    transition: opacity .6s cubic-bezier(.19, 1, .22, 1);
    opacity: 0 !important
  }
  &.is-hidden .bar {
    transition: -webkit-transform .6s cubic-bezier(.19, 1, .22, 1);
    transition: transform .6s cubic-bezier(.19, 1, .22, 1);
    -webkit-transform: translate3d(0, 100%, 0) !important;
    transform: translate3d(0, 100%, 0) !important
  }

}
