.patents-and-publications {
  section {
    .section-body {
      color: #555;
      a {
        &>div {
          margin-top: 0;
          margin-bottom: 0;
          -webkit-transition: all 0.4s ease;
          -moz-transition: all 0.4s ease;
          -o-transition: all 0.4s ease;
          -ms-transition: all 0.4s ease;

          &:hover {
            background-color: #f1f3f5;
            border-color: transparent;
            border-radius: 10px;
            .title, .citation, .organization {
              color: #7B0000;
            }
          }
        }

        .title {
          color: #000000;
          letter-spacing: 0.04rem;
        }
        .citation {

        }
        .muted {
          color: #a0a0a0;
        }
      }
    }
  }
}