
.project-page {

  @-webkit-keyframes moveUp {
    0% { }
    100% { -webkit-transform: translateY(0); opacity: 1; }
  }

  @keyframes moveUp {
    0% { }
    100% { -webkit-transform: translateY(0); transform: translateY(0); opacity: 1; }
  }

  --project-color: #43434A;

  $project-colors: (
    itinerant-probes: rgba(100, 61, 187, 0.81),
    about: $primary-color,
    toothgloss: #309591,
    teaching-and-leadership: #80AB51,
    web-development: #597CCC,
    synku: #C45238,
    orchestable: #C84F5B,
    flame: #3F3F45,
    hollywood-stars: #7C488D,
    work-happy: #DA8540,
    image-processing: rgba(236, 129, 147, 0.741),
    sweet-treat: #efb45c,
    goslometer: #efb45c,
    intel-internship: #efb45c,
    visual-design-and-3d-model-collection: #efb45c
  );
  @each $project-slug, $project-color in $project-colors {
    &.#{$project-slug} {
      --project-color: $project-color;
    }
  }

  .large-align-top {
    @media screen and #{breakpoint(large)} {
      align-items: flex-start;
    }
  }
  .page-heading {
    -webkit-transition: all 0.4s ease;
    -moz-transition: all 0.4s ease;
    -o-transition: all 0.4s ease;
    -ms-transition: all 0.4s ease;

    &.is-sticky {
      font-size: 1.3rem;
    }
  }

  .intro {
    font-family: "Open Sans";
    font-size: 1.4rem;
    margin-top: 1rem;
    letter-spacing: 0.04rem;
    border: 0;
  }

  aside {
    padding: 20px;
    border-radius: 4px;
    margin-bottom: 25px;
    background: var(--project-color);

    .metadata {
      margin-bottom: 20px;
      color: #fff;

      &:last-child {
        margin-bottom: 0;
      }
      dt {
        font-size: 0.93333em;
        font-weight: 400;
        font-family: $heading-font-family;
        text-transform: uppercase;
      }

      dd {
        font-weight: 200;
        margin-bottom: 1px;
        font-size: 15px;
      }
    }
  }

  .project-details {
    @include breakpoint(large) {
      margin-right: 3rem;
    }
    section {
      .section-body {
        letter-spacing: 0.05rem;

        .description a.link[target="_blank"]:after {
          @include target-blank-icon;
        }

        .list, ul {
          margin: 1rem;
          color: #444;
          font-size: 1rem;
          font-family: "Open Sans";

          span, li {
            margin: 2rem 1rem 2rem 0rem;
            padding-left: 1rem;
            display: block;
            border-left: 1px solid var(--project-color);

            &:first-child {
              margin-top: 1rem;
            }
          }
        }
        %media-container {
          border-radius: 2px;
          margin-bottom: 0.5rem;
          display: inline-block;

          &.shadow {
            box-shadow: 0 0 10px rgba(0,0,0,.16);

            &-purple {
              box-shadow: 0 0 10px rgba(111, 73, 157, 1);
            }
          }

          &.animate {
            -webkit-transform: translateY(200px);
            transform: translateY(200px);
            -webkit-animation: moveUp 0.65s ease forwards;
            animation: moveUp 0.65s ease forwards;
          }
        }

        .video-container {
          @extend %media-container;

          box-sizing: border-box;
        }

        .image-container {
          @extend %media-container;

          overflow: hidden;
          position: relative;
          margin-bottom: 0;

          figure.image-wrapper {
            transition: transform 0.5s ease;

            &:hover {
              transform: scale(1.1);
            }

            img {
              cursor: pointer;
              width: 100%;
              color: #aaa;
            }

            figcaption {
              display: none;
              font-size: 12px;
              color: #888;
              text-align: center;
            }
          }

          &.show-caption figure figcaption {
            display: block;
          }
        }
        .image-grid-container {
          margin-bottom: 0.5rem;
        }
      }
    }
  }

  .voteup {
    background: var(--project-color);
    height: 80px;
    width: 80px;
    border-radius: 100%;
    line-height: 80px;
    text-align: center;
    display: block;
    margin: 10px auto;
    vertical-align: middle;
    color: #fff;
    transition: box-shadow 0.3s ease-in-out;

    em {
      font-size: 40px;
      padding-top: 0;
    }

    &:hover {
      box-shadow: 0 0 0 3px var(--project-color);
      color: #fff;
    }

    &:focus, &:visited {
      color: #fff;
    }
  }

  .voteup-anim {
    transition: all 0.3s ease-in-out;

    span {
      font-size: 24px;
      font-weight: 500;
      line-height: 32px;
      color: #666;
      visibility: visible;
      transition: all 0.3s ease-in-out;
    }

    em {
      padding-top: 0;
    }

    b {
      font-size: 0;
      line-height: 32px;
      vertical-align: middle;
      transition: font-size 0.3s ease-in-out;
      display: block;
    }

    &.voted {
      span {
        font-size: 0;
        visibility: hidden;
        line-height: 32px;
        transition: all 0.3s ease-in-out;
      }

      em {
        display: block;
        line-height: 1;
        font-size: 25px;
        padding-top: 14px;
        transition: font-size 0.3s ease-in-out;
      }

      .voteup {
        background-color: transparent;
        box-shadow: 0 0 0 1px #B2BFCB;
        color: rgba(132, 145, 158, 1);
        transition: box-shadow 0.3s ease-in-out;
        cursor: default;
      }

      b {
        display: block;
        line-height: 32px;
        font-size: 25px;
        transition: font-size 0.3s ease-in-out;
      }
    }
  }

  &.web-development {
    figure {
      align-items: flex-start;
      overflow: hidden;
      height: 150px;
    }
    figure img {
      min-height: 100%;
      max-width: 100%;
    }
  }
}