
<div class="image-container shadow animate {{class}}">
  <figure class="image-wrapper" itemprop="associatedMedia" itemscope itemtype="http://schema.org/ImageObject">
    <a href="{{src}}" itemprop="contentUrl">
      <img class="cld-responsive {{imgClass}}" data-src="{{src}}" ng-src="{{src}}" srcset="" alt="{{alt}}" itemprop="thumbnail" data-size="[{{width}}, {{height}}]" width="{{width}}px" height="{{height}}px"  data-actual-width="{{width}}" data-actual-height="{{height}}">
    </a>
    <figcaption itemprop="caption description">{{alt}}</figcaption>
  </figure>
</div>