<div class="video-container shadow {{class}}">
  <span ng-if="caption" class="video-caption">{{caption}}</span>
  <div class="player only-progress">
    <video ng-if="mp4 || webm"
      controls
      poster="{{poster}}"
      width="{{width}}"
      height="{{height}}">
      <source ng-if="mp4"
        src="{{src}}.mp4"
        type="video/mp4">
      <source ng-if="webm"
        ng-src="{{src}}.webm"
        type="video/webm">
    </video>
    <iframe ng-if="youtube"
      type="text/html"
      width="{{width}}"
      height="{{height}}"
      ng-src="{{ src | youtubeEmbedUrl }}"
      frameborder="0"
      allowfullscreen>
    </iframe>
  </div>
</div>