<section>
  <div class="section-body">
    <p>Itinerant probes explores the idea of using dynamic events to re-engage people in a particular space. These probes lives in a public space, enliven the collective memory and history of people and their experiences in that space. During our research, we designed a number of probes related to lighting and investigated them at three public site.</p>
    <div class="grid-x grid-margin-x grid-margin-y image-grid-container">
      <div class="cell small-6 medium-4 large-2" ng-repeat="image in [
      {'name':'workbook/itinerant-probes-workbook-v01-1.jpg'},
      {'name':'workbook/itinerant-probes-workbook-v01-2.jpg'},
      {'name':'workbook/itinerant-probes-workbook-v01-3.jpg'},
      {'name':'workbook/itinerant-probes-workbook-v01-4.jpg'},
      {'name':'workbook/itinerant-probes-workbook-v01-5.jpg'},
      {'name':'workbook/itinerant-probes-workbook-v01-6.jpg'},
      {'name':'workbook/itinerant-probes-workbook-v01-7.jpg'},
      {'name':'workbook/itinerant-probes-workbook-v01-8.jpg'},
      {'name':'workbook/itinerant-probes-workbook-v01-9.jpg'},
      {'name':'workbook/itinerant-probes-workbook-v01-10.jpg'},
      {'name':'workbook/itinerant-probes-workbook-v01-11.jpg'},
      {'name':'workbook/itinerant-probes-workbook-v01-12.jpg'},
      {'name':'workbook/itinerant-probes-workbook-v01-13.jpg'},
      {'name':'workbook/itinerant-probes-workbook-v01-14.jpg'},
      {'name':'workbook/itinerant-probes-workbook-v01-15.jpg'},
      {'name':'workbook/itinerant-probes-workbook-v01-16.jpg'},
      {'name':'workbook/itinerant-probes-workbook-v01-17.jpg'}]">
        <project-image-container alt="Workbook" src="{{getCurrentProjectImageAssetUrl(image.name)}}" width="1024" height="512"></project-image-container>
      </div>
    </div>
    <p>The project started from the idea of exploring public stairwells for safety and lightening. But, as often happens with any design project, it evolved into a bigger, broader question of what is a public space and what does these spaces means for people using them.</p>
  </div>
</section>

<section>
  <h6 class="section-heading">Stairwells</h6>
  <div class="section-body">
    <p>We began our journey by exploring three public walkways in Seattle.</p>
    <ul class="list">
      <li>Wall of Death</li>
      <li>Rainier Training Grounds</li>
      <li>Freeway Park</li>
    </ul>
    <div class="grid-x grid-margin-x grid-margin-y image-grid-container">
      <div class="cell small-12 medium-4 large-4" ng-repeat="image in [
      {'name':'wall-of-death.jpg','alt':'Wall of Death'},
      {'name':'rainier-training-grounds.jpg','alt':'Rainier Training Grounds'},
      {'name':'freeway-park.jpg','alt':'Freeway Park'}]">
        <project-image-container alt="{{image.alt}}" src="{{getCurrentProjectImageAssetUrl(image.name)}}" width="1080" height="1440"></project-image-container>
      </div>
    </div>
    <p>We interviewed people using these spaces to learn about what they think of the stairwells, especially during evening and night, when it's dark. At Wall-of-death, Pedestrian, particularly women, felt very unsafe and usually rush through. Most of the stairwells in this area is dark at night. Pedestrian using Rainier Training Grounds were mostly enthusiast, running on the stairs for training and workouts. Freeway Park was portrayed as "creepy" at night due to it's structure which had lots of blind spots.</p>
  </div>
</section>
<section>
  <h6 class="section-heading">Probes</h6>
  <div class="section-body">
    <h6>Where light belongs <small class="muted">(Fluorescent lights & glow-in-the-dark Play-Dough)</small></h6>
    <div class="grid-x grid-margin-x grid-margin-y image-grid-container">
      <div class="cell small-12 medium-4 large-4" ng-repeat="image in ['itinerant-probes-1.1.jpg','itinerant-probes-1.2.jpg','itinerant-probes-1.3.jpg']">
        <project-image-container alt="Where light belongs" src="{{getCurrentProjectImageAssetUrl(image)}}" width="1024" height="768"></project-image-container>
      </div>
    </div>

    <h6>Where messages flow <small class="muted">(Fluorescent paint in squeeze bottles)</small></h6>
    <div class="grid-x grid-margin-x grid-margin-y image-grid-container">
      <div class="cell small-12 medium-4 large-4" ng-repeat="image in ['itinerant-probes-2.1.jpg','itinerant-probes-2.2.jpg','itinerant-probes-2.3.jpg']">
        <project-image-container alt="Where messages flow" src="{{getCurrentProjectImageAssetUrl(image)}}" width="2014" height="768"></project-image-container>
      </div>
    </div>

    <h6>Where stairs text <small class="muted">(Fluorescent chalk with fill-in-the-blank messages)</small></h6>
    <div class="grid-x grid-margin-x grid-margin-y image-grid-container">
      <div class="cell small-12 medium-4 large-4" ng-repeat="image in ['itinerant-probes-3.1.jpg','itinerant-probes-3.2.jpg','itinerant-probes-3.3.jpg']">
        <project-image-container alt="Where stairs text" src="{{getCurrentProjectImageAssetUrl(image)}}" width="1024" height="768"></project-image-container>
      </div>
    </div>
  </div>
</section>