<project-image-container src="{{getCurrentProjectImageAssetUrl('picture-existing-candy-bowl.jpg')}}" alt="Candy bowl"></project-image-container>
<p>Sweet Treat started with the idea of redesigning candy bowl to solve a problem department of HCDE was facing, which after our research we realised wasn't just HCDE's problem but almost everywhere. The problem was good candy running out too soon and less desirable candy not getting picked up by anyone. Over the course of next ten weeks, we set out to solve this issue of loneliness of less desirable candy.</p>
<div class="design-process"></div>
<p>We started with doing <b>field research</b> to find out the cause of the problems so we can design to solve them. Our research developed into <b>three clear findings</b>.</p>
<div class="research-findings list">
  <span class="finding">Free candy in the office provides a place for people to interact with others. However, some less positive social interactions happen when people sitting near the bowl are frequently interrupted by candy takers who feel the need to justify their actions.</span>
  <span class="finding">The department thinks the bowl belongs to everyone in the office, with the burden of buying and refilling candy being shared by everyone in the office. But people only take candy from it, and complain to the office manager when the bowl is empty.</span>
  <span class="finding">The bowl is usually filled with a variety of candy at first. But some types of candy run out more quickly than others because people tend to pick the same types of candy. This leaves the less desirable ones at the bottom of the bowl for a long time before they are finally selected.</span>
</div>
<p>We then translated these findings into <b>three design opportunities</b>.</p>
<div class="design-opportunities list">
  <span class="design-opportunity">Enrich positive social interactions among HCDE staff, faculty and students.</span>
  <span class="design-opportunity">Encourage all staff in the office to refill the candy bowl, and foster the collective sense of responsibility.</span>
  <span class="design-opportunity">Make the candy bowl consumption sustainable, in both speed of consumption and diversity of choice.</span>
</div>
<p>We used these findings to <b>brainstorm, ideate, sketch and design</b> an initial prototype. The efforts was focused on making the bowl easier to refill, increasing the variety of candy in the bowl at any given time, and increasing engagement in the office surrounding it</p>
<h6 class="section-heading">Brainstorming</h6>
<div class="grid-x grid-margin-x grid-margin-y image-grid-container">
  <div class="cell small-12 medium-6 large-4" ng-repeat="image in [ 'picture-prototype-1-brainstorming_1.jpg', 'picture-prototype-1-brainstorming_2.jpg', 'picture-prototype-1-brainstorming_3.jpg', 'picture-prototype-1-brainstorming_4.jpg', 'picture-prototype-1-brainstorming_5.jpg']">
    <project-image-container src="{{getCurrentProjectImageAssetUrl(image)}}" alt="1st prototype brainstorming"></project-image-container>
  </div>
</div>
<h6 class="section-heading">Making of prototype</h6>
<div class="grid-x grid-margin-x grid-margin-y image-grid-container">
  <div class="cell small-12 medium-6 large-4" ng-repeat="image in [ {alt: 'Sketch of 1st prototype', name: 'sketch-prototype-1-making_1.jpg'}, {alt: '1st prototype in making', name: 'picture-prototype-1-making_1.jpg'}, {alt: '1st prototype in making', name: 'picture-prototype-1-making_2.jpg'}, {alt: '1st prototype in making', name: 'picture-prototype-1-making_3.jpg'}, {alt: '1st prototype in making', name: 'picture-prototype-1-making_4.jpg'}, {alt: '1st prototype', name: 'picture-prototype-1-making_5.jpg'} ]">
    <project-image-container src="{{getCurrentProjectImageAssetUrl(image.name)}}" alt="{{image.alt}}"></project-image-container>
  </div>
</div>
<h6 class="section-heading">Finished low fidelity prototype</h6>
<div class="grid-x grid-margin-x grid-margin-y image-grid-container">
  <div class="cell small-12 medium-6 large-4" ng-repeat="image in [ 'picture-prototype-1-finished_1.jpg', 'picture-prototype-1-finished_2.jpg', 'picture-prototype-1-finished_3.jpg', 'picture-prototype-1-finished_4.jpg', 'picture-prototype-1-finished_5.jpg']">
    <project-image-container src="{{getCurrentProjectImageAssetUrl(image)}}" alt="1st finished prototype"></project-image-container>
  </div>
</div>
<h6 class="section-heading">Usability testing</h6>
<p>We were then able to do some rapid testing on the prototype and get feedback about what wasn't clear. Our main goal was to gather feedback on the 3 digital challenges and the overall physical design. For testing, the prototype was <b>placed in a public place</b> in out department where students, staff, and faculty would pass by. Participants were those who walked and took a few minutes to explore the prototype. The researcher standing near the prototype conducted a brief interview asking them about their experience.</p>
<div class="grid-x grid-margin-x grid-margin-y image-grid-container">
  <div class="cell small-12 medium-6 large-4" ng-repeat="image in [ 'picture-prototype-1-testing_1.jpg', 'picture-prototype-1-testing_2.jpg', 'picture-prototype-1-testing_3.jpg', 'picture-prototype-1-testing_4.jpg']">
    <project-image-container src="{{getCurrentProjectImageAssetUrl(image)}}" alt="1st prototype testing"></project-image-container>
  </div>
</div>
<p>Ultimately, we had 7 participants complete our study which uncovered several key usability issues.</p>
<div class="usability-findings list">
  <span class="finding">The purpose of the charity box and the sugar rush box is unclear.</span>
  <span class="finding">The sliding game is too time consuming.</span>
  <span class="finding">It is unclear the the drawer contains different candy.</span>
  <span class="finding">The buttons are hard to select due to their size.</span>
</div>
<p>Time to brainstorm again. As a result of the findings from our testing, we made modifications to the design of both the physical and digital parts of the prototype.</p>
<div class="grid-x grid-margin-x grid-margin-y image-grid-container">
  <div class="cell small-12 medium-6 large-4" ng-repeat="image in [ 'picture-prototype-2-brainstorming_1.jpg', 'picture-prototype-2-brainstorming_2.jpg']">
    <project-image-container src="{{getCurrentProjectImageAssetUrl(image)}}" alt="2nd prototype brainstorming"></project-image-container>
  </div>
</div>
<p>From there, <b>we created Sweet Treat</b>, a redesigned candy bowl that asks users to complete a challenge in order to earn their candy. Those that don't have time to play the challenge can simply grab a piece of less desirable candy from the tray at the top of the machine. Finally, the auto-refilling drum means that the candy bowl has to be filled less, while extending the variety of candy in the bowl.</p>
<h6 class="section-heading">Making of final prototype</h6>
<div class="grid-x grid-margin-x grid-margin-y image-grid-container">
  <div class="cell small-12 medium-6 large-4" ng-repeat="image in [ 'picture-prototype-2-making_1.jpg', 'picture-prototype-2-making_2.jpg', 'picture-prototype-2-making_3.jpg']">
    <project-image-container src="{{getCurrentProjectImageAssetUrl(image)}}" alt="2nd prototype in making"></project-image-container>
  </div>
</div>
<h6 class="section-heading">Finished final prototype</h6>
<div class="grid-x grid-margin-x grid-margin-y image-grid-container">
  <div class="cell small-12 medium-6 large-4" ng-repeat="image in [ 'picture-prototype-2-finished_1.jpg', 'picture-prototype-2-finished_2.jpg', 'picture-prototype-2-finished_3.jpg', 'picture-prototype-2-finished_4.jpg', 'picture-prototype-2-finished_5.jpg']">
    <project-image-container src="{{getCurrentProjectImageAssetUrl(image)}}" alt="2nd finished prototype"></project-image-container>
  </div>
</div>
<h6 class="section-heading">Digital interaction design</h6>
<project-image-container src="{{getCurrentProjectImageAssetUrl('picture-prototype-2-finished-digital.jpg')}}" alt="Digital interaction design"></project-image-container>
<h6 class="section-heading">Control system design</h6>
<project-image-container src="{{getCurrentProjectImageAssetUrl('picture-prototype-2-finished-electronic.jpg')}}" alt="Electronic control system design"></project-image-container>