<!doctype html>
<!--[if lt IE 7]><html class="no-js lt-ie9 lt-ie8 lt-ie7" lang="en"> <![endif]-->
<!--[if IE 7]><html class="no-js lt-ie9 lt-ie8" lang="en"> <![endif]-->
<!--[if IE 8]><html class="no-js lt-ie9" lang="en"> <![endif]-->
<!--[if gt IE 8]><!-->
<html class="no-js" lang="en" ng-cloak ng-app="ankuragrawalApp">
<!--<![endif]-->
  <head>
  <base href="/">
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width">
  <title>{{ title }}</title>
  <meta name="description" content="">

  <meta property="og:title" content="Ankur Agrawal, a wildcard design technologist" />
  <link rel="author" href="https://plus.google.com/+AnkurAgrawal" />
  <meta property="og:image" content="//ankuragrawal.xyz/images/ankur-default.png" />
  <meta property="og:url" content="http://ankuragrawal.xyz/">
  <meta property="og:description" content="" />

  <!-- Place favicon.ico and apple-touch-icon.png in the root directory -->
  <!-- build:css(.) styles/vendor.css -->
  <!-- bower:css -->
  <link rel="stylesheet" href="bower_components/ngprogress/ngProgress.css" />
  <link rel="stylesheet" href="bower_components/angular-hotkeys/build/hotkeys.css" />
  <link rel="stylesheet" href="bower_components/angular-tooltips/dist/angular-tooltips.min.css" />
  <link rel="stylesheet" href="bower_components/motion-ui/dist/motion-ui.css" />
  <link rel="stylesheet" href="bower_components/angular-flickr/dist/angular-flickr.min.css" />
  <link rel="stylesheet" href="bower_components/photoswipe/dist/photoswipe.css" />
  <link rel="stylesheet" href="bower_components/photoswipe/dist/default-skin/default-skin.css" />
  <!-- endbower -->
  <!-- endbuild -->
  <!-- build:css(.tmp) styles/main.css -->
  <link rel="stylesheet" href="styles/main.css">
  <!-- endbuild -->
  <!-- <link href='//fonts.googleapis.com/css?family=Alegreya:400' rel='stylesheet' type='text/css'> -->
  <!-- <link href='//fonts.googleapis.com/css?family=Merriweather:400,300,700' rel='stylesheet' type='text/css'> -->
  <!-- <link href='//fonts.googleapis.com/css?family=Quattrocento:400,700' rel='stylesheet' type='text/css'> -->
  <link href='//fonts.googleapis.com/css?family=Montserrat:200,400,600,700' rel='stylesheet' type='text/css'>
  <!-- <link href='//fonts.googleapis.com/css?family=Muli:400,300' rel='stylesheet' type='text/css'> -->
  <link href='//fonts.googleapis.com/css?family=Source+Sans+Pro:300,400,600,700' rel='stylesheet' type='text/css'>
  <link href='//fonts.googleapis.com/css?family=Open+Sans:300,400,600,700,800' rel='stylesheet' type='text/css'>
  <link href="https://fonts.googleapis.com/css?family=Puritan:400,700|Roboto+Mono:300,400,500|Mandali|Ubuntu+Mono" rel="stylesheet" type="text/css">
  </head>
  <body ng-app="ankuragrawalApp" ng-controller="AppCtrl" ng-class="bodyClass">
  <div ng-if="false">
    <h5>Loading the application, please hold on</h5>
    <div class='aCssSpinner'></div>
  </div>
  <!--[if lte IE 8]>
    <p class="browsehappy">You are using an <strong>outdated</strong> browser. Please <a href="http://browsehappy.com/">upgrade your browser</a> to improve your experience.</p>
  <![endif]-->
  <!--[if lt IE 9]>
    <script src="bower_components/es5-shim/es5-shim.js"></script>
    <script src="bower_components/json3/lib/json3.min.js"></script>
  <![endif]-->

  <!-- Add your site or application content here -->
  <app-header src="views/partials/_header.html"></app-header>
  <div id="start-of-page"></div>
  <main class="main-page grid-x" role="main" id="main">
    <div class="cell large-12">
    <div class="page">
      <div class="grid-y medium-grid-frame">
      <div class="cell medium-auto medium-cell-block-container">
        <div class="grid-x grid-padding-x">
          <div ng-if="!landing" ng-include="'views/partials/_sidebar.html'" class="cell medium-3 side-bar animated fadeIn medium-cell-block-y"></div>

          <sticky-scroll du-scroll-container class="cell medium-9 medium-cell-block-y">
            <div class="grid-x grid-padding-x grid-padding-y">
              <div class="cell auto view-container" ng-view></div>
            </div>
          </sticky-scroll>
        </div>
      </div>
      </div>
    </div>
    </div>
  </main>

  <ng-include src="'views/partials/_footer.html'"></ng-include>
  <div id="a11y_announcer" class="sr-only" aria-live="polite"></div>

  <!-- build:js(.) scripts/vendor.js -->
  <!-- bower:js -->
  <script src="bower_components/jquery/dist/jquery.js"></script>
  <script src="bower_components/angular/angular.js"></script>
  <script src="bower_components/angular-animate/angular-animate.js"></script>
  <script src="bower_components/angular-aria/angular-aria.js"></script>
  <script src="bower_components/angular-resource/angular-resource.js"></script>
  <script src="bower_components/angular-route/angular-route.js"></script>
  <script src="bower_components/angular-sanitize/angular-sanitize.js"></script>
  <script src="bower_components/angular-touch/angular-touch.js"></script>
  <script src="bower_components/SHA-1/sha1.js"></script>
  <script src="bower_components/angulartics/src/angulartics.js"></script>
  <script src="bower_components/angulartics-google-analytics/lib/angulartics-ga.js"></script>
  <script src="bower_components/what-input/dist/what-input.js"></script>
  <script src="bower_components/foundation-sites/dist/js/foundation.js"></script>
  <script src="bower_components/ngprogress/build/ngprogress.js"></script>
  <script src="bower_components/a11y_kit/dist/a11y_kit.jquery.js"></script>
  <script src="bower_components/angular-hotkeys/build/hotkeys.js"></script>
  <script src="bower_components/angular-tooltips/dist/angular-tooltips.min.js"></script>
  <script src="bower_components/motion-ui/dist/motion-ui.js"></script>
  <script src="bower_components/firebase/firebase.js"></script>
  <script src="bower_components/angularfire/dist/angularfire.js"></script>
  <script src="bower_components/matchmedia/matchMedia.js"></script>
  <script src="bower_components/ngSticky/lib/sticky.js"></script>
  <script src="bower_components/angular-scroll/angular-scroll.js"></script>
  <script src="bower_components/angular-recursion/angular-recursion.js"></script>
  <script src="bower_components/angular-flickr/dist/angular-flickr.min.js"></script>
  <script src="bower_components/gsap/src/uncompressed/TweenMax.js"></script>
  <script src="bower_components/scrollmagic/scrollmagic/uncompressed/ScrollMagic.js"></script>
  <script src="bower_components/scrollmagic/scrollmagic/uncompressed/plugins/animation.gsap.js"></script>
  <script src="bower_components/scrollmagic/scrollmagic/uncompressed/plugins/debug.addIndicators.js"></script>
  <script src="bower_components/angular-scroll-magic/angular-scroll-magic.js"></script>
  <script src="bower_components/angular-bind-html-compile/angular-bind-html-compile.js"></script>
  <script src="bower_components/photoswipe/dist/photoswipe.js"></script>
  <script src="bower_components/photoswipe/dist/photoswipe-ui-default.js"></script>
  <script src="bower_components/ng-videosharing-embed/build/ng-videosharing-embed.min.js"></script>
  <script src="bower_components/angulargrid/angulargrid.js"></script>
  <!-- endbower -->
  <!-- endbuild -->

  <script>
    // Initialize Firebase
    var config = {
    apiKey: "AIzaSyBg-_2Qv0A1y758POCYYp4z6HurJ1eLJMc",
    authDomain: "api-ankuragrawal-xyz.firebaseapp.com",
    databaseURL: "https://api-ankuragrawal-xyz.firebaseio.com",
    projectId: "api-ankuragrawal-xyz",
    storageBucket: "",
    messagingSenderId: "464198833365"
    };
    firebase.initializeApp(config);
  </script>

    <!-- build:js({.tmp,app}) scripts/scripts.js -->
    <script defer="defer" src="scripts/app.js"></script>
    <script defer="defer" src="scripts/config/routes.js"></script>
    <script defer="defer" src="scripts/config/constants.js"></script>
    <script defer="defer" src="scripts/config/values.js"></script>
    <script defer="defer" src="scripts/filters/split.js"></script>
    <script defer="defer" src="scripts/filters/youtubeembedurl.js"></script>
    <script defer="defer" src="scripts/filters/vimeoembedurl.js"></script>
    <script defer="defer" src="scripts/filters/replacecharacters.js"></script>
    <script defer="defer" src="scripts/directives/app-header.js"></script>
    <script defer="defer" src="scripts/directives/project-image-container.js"></script>
    <script defer="defer" src="scripts/directives/project-video-container.js"></script>
    <script defer="defer" src="scripts/services/dbservice.js"></script>
    <script defer="defer" src="scripts/services/imageservice.js"></script>
    <script defer="defer" src="scripts/services/patentandpublicationservice.js"></script>
    <script defer="defer" src="scripts/services/projectservice.js"></script>
    <script defer="defer" src="scripts/services/aboutservice.js"></script>
    <script defer="defer" src="scripts/services/awardservice.js"></script>
    <script defer="defer" src="scripts/services/wildcardservice.js"></script>
    <script defer="defer" src="scripts/controllers/app.js"></script>
    <script defer="defer" src="scripts/controllers/404.js"></script>
    <script defer="defer" src="scripts/controllers/landing.js"></script>
    <script defer="defer" src="scripts/controllers/portfolio.js"></script>
    <script defer="defer" src="scripts/controllers/patentandpublication.js"></script>
    <script defer="defer" src="scripts/controllers/project.js"></script>
    <script defer="defer" src="scripts/controllers/contact.js"></script>
    <script defer="defer" src="scripts/controllers/about.js"></script>
    <script defer="defer" src="scripts/controllers/award.js"></script>
    <script defer="defer" src="scripts/controllers/wildcard.js"></script>
    <script defer="defer" src="scripts/ws.js"></script>
    <!-- endbuild -->

  <!-- Google Analytics -->
  <script>
    (function(e,t,n,i,s,a,c){e[n]=e[n]||function(){(e[n].q=e[n].q||[]).push(arguments)}
    ;a=t.createElement(i);c=t.getElementsByTagName(i)[0];a.async=true;a.src=s
    ;c.parentNode.insertBefore(a,c)
    })(window,document,"galite","script","https://cdn.jsdelivr.net/npm/ga-lite@2/dist/ga-lite.min.js");

    galite('create', 'UA-102358856-1', 'auto');
    galite('send', 'pageview');
  </script>
</body>
</html>
