.footer {
  // padding: 25px 10px;
  // background-color: $footer-background-c1;
  // @include filter-gradient($footer-background-c1, $footer-background-c2, horizontal);
  // background-image: linear-gradient(left, $footer-background-c1 0%, $footer-background-c2 100%);
  // -webkit-transition: all 0.3s ease-in;
  // -o-transition: all 0.3s ease-in;
  transition: all 0.3s ease-in;

  .row {
    background: #fff;
    border-top: solid 1px #EFEFEF;
  }

  /* Social list */
  .social-list {
    margin: 0;
    margin: 0 auto;
    text-align: center;
    /*display: inline-block;*/
    &.long {
      display: -webkit-box;
      display: -moz-box;
      display: -ms-flexbox;
      display: -webkit-flex;
      display: flex;
      flex-flow: row wrap;
      justify-content: space-between;
      list-style-type: none;
    }
    li {
      &:first-child {
        margin-left: 0;
      }
      a {
        em {
          font-size: 32px;
        }
      }
    }
  }

  .social-list li a {
    position: relative;
    z-index: 22;
    padding: 0.7rem 0.5rem;
  }
  .social-list li a:before {
    content: '';
    display: block;
    background: #fff;
    height: 20px;
    width: 20px;
    position: absolute;
    z-index: 0;
    top: 5px;
    left: 3px;
    border-radius: 100%;
  }
  .social-list li a em {
    position: relative;
    z-index: 22;
  }
  .top-bar, .top-bar ul {
    background-color: #fff;
  }
}
.slanding-footer {
  display: none;
  .footer {
    padding: 0;
    background: transparent;
    border: 0;
    padding: 10px 10px;
    box-shadow: none;
    &:hover {
      box-shadow: none;
    }
  }
}

@mixin landing-footer {
  footer {
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100%;
  }
}