
.browsehappy {
  margin: 0.2em 0;
  background: #ccc;
  color: #000;
  padding: 0.2em 0;
}

.top-bar-container {
  height: 51.38px;
  background-color: white;
}

@import "nav";

@mixin landing-top-nav {
  .top-bar .top-bar-title {
    display: none;
  }
}
