.main-page {
  background-color: #fff;
  position: relative;
  padding: 0 35px;

  .page {
    min-height: 750px;
    overflow: hidden;
    position: relative;
    height: 100%;

    .coming-soon {
      display: block;
      text-align: center;
      font-size: 2rem;
      color: #42210b;
      margin: 1.5rem auto;
    }
    .page-banner {
      background-color: #fff;
    }
    .page-heading {
      color: #C4C4C4;
      font-weight: 500;
      font-family: $heading-font-family;
      font-size: 1.5rem;
      background-color: #fff;

      &::first-letter {
        color: #6F499D;
        font-size: 2em;
        border-bottom: 4px solid #6f499d;
      }
    }

    .item-list {
      section {
        .section-body {
          color: #555;
          a {
            &>div {
              margin-top: 0;
              margin-bottom: 0;
              -webkit-transition: all 0.4s ease;
              -moz-transition: all 0.4s ease;
              -o-transition: all 0.4s ease;
              -ms-transition: all 0.4s ease;

              &:hover {
                background-color: #f1f3f5;
                border-color: transparent;
                border-radius: 10px;
                .title, .citation, .organization {
                  color: #7B0000;
                }
              }
            }

            .title {
              color: #000000;
              letter-spacing: 0.04rem;
            }
            .muted {
              color: #a0a0a0;
            }
          }
        }
      }
    }

    article {
      margin-bottom: 7rem;

      header {
        margin-bottom: 1rem;
      }

      section {
        padding-top: 0.5rem;
        padding-bottom: 0.5rem;

        &:first-child {
          padding: 0;
        }

        .section-heading {
          color: #6F499D;
          display: inline-block;
          font-weight: 500;
          font-family: $heading-font-family;
          text-transform: uppercase;
        }

        &.project-links .section-body, &.project-external-links .section-body {
          &.link, a.link {
            border: 1px solid #7B0000;
            padding: 0.5rem;
            margin: 1rem;

            &:first-child {
              margin-left: 0;
            }
            &:last-child {
              margin-right: 0;
            }
            &:hover {
              background-color: #f7f7f7;
            }
          }
        }

        .section-body {
          p, ol, ul {
            color: #555;
          }
          &.link, a.link {
            color: #7B0000;
          }
          .callout {
            background-color: #FCFCFC;
            border: 1px solid #EEE;
            border-radius: 2px;
            padding: 10px 15px;
            margin: 30px 0;
          }

          .list {
            margin: 1rem;
            color: #444;
            font-size: 1rem;
            font-family: "Open Sans";

            span, li {
              margin: 2rem 1rem 2rem 0rem;
              padding-left: 1rem;
              display: block;
              border-left: 1px solid var(--project-color, #7B0000);

              &:first-child {
                margin-top: 1rem;
              }
            }
          }
          %media-container {
            border-radius: 2px;
            margin-bottom: 0.5rem;
            display: inline-block;

            &.shadow {
              box-shadow: 0 0 10px rgba(0,0,0,.16);

              &-purple {
                box-shadow: 0 0 10px rgba(111, 73, 157, 1);
              }
            }

            &.animate {
              -webkit-transform: translateY(200px);
              transform: translateY(200px);
              -webkit-animation: moveUp 0.65s ease forwards;
              animation: moveUp 0.65s ease forwards;
            }
          }

          .video-container {
            @extend %media-container;

            box-sizing: border-box;
          }

          .image-container {
            @extend %media-container;

            overflow: hidden;
            position: relative;
            margin-bottom: 0;
            width: 100%;

            figure.image-wrapper {
              transition: transform 0.5s ease;

              &:hover {
                transform: scale(1.1);
              }

              img {
                cursor: pointer;
                width: 100%;
                color: #aaa;
              }

              figcaption {
                display: none;
                font-size: 12px;
                color: #888;
                text-align: center;
              }
            }

            &.show-caption figure figcaption {
              display: block;
            }
          }
          .image-grid-container {
            margin-bottom: 0.5rem;
          }

          .dynamic-grid{
            position: relative;
            display: none;

            &.angular-grid{
              display: block;
            }

            .grid {
              border: 1px solid #cccccc;
              position: absolute;
              list-style: none;
              background: #ffffff;
              box-sizing: border-box;
              -moz-box-sizing : border-box;
              overflow: hidden;
              border-radius: 4px;

              &.ng-leave {
                -webkit-transition: all ease 400ms;
                transition: all ease 400ms;

                .ng-leave-active {
                  -webkit-transform: scale(0.5);
                  transform: scale(0.5);
                  opacity: 0;
                }
              }
              &.ng-enter {
                -webkit-transition: all ease 400ms;
                transition: all ease 400ms;
                -webkit-transition-delay: 500ms;
                transition-delay: 500ms;
                -webkit-transform: scale(0.5);
                 transform: scale(0.5);
                opacity: 0;

                .ng-enter-active {
                  -webkit-transform: scale(1);
                  transform: scale(1);
                  opacity: 1;
                }
              }

              .grid-img {
                width: 100%;
                vertical-align: middle;
                -webkit-transition: opacity 0.6s ease-out;
                transition: opacity 0.6s ease-out;
                background-color: #fff;
                opacity: 0;
                visibility: hidden;

                &.img-loaded{
                  visibility: visible;
                  opacity: 1;
                }
              }
            }
          }
        }
      }
    }
  }
}