<div class="about-page fadeIn animated">
  <div ng-if="!about" class="grid-x">
    <div class="cell small-8 medium-6 large-4">
      <ng-include src="'images/coming-soon.svg'"></ng-include>
    </div>
  </div>
  <article ng-if="about" role="article">

    <section class="intro" ng-if="about.intro">
      <div class="grid-x grid-padding-x align-center-middle text-center">
        <div class="cell small-12 medium-5 large-5 small-order-1 medium-order-1 large-order-1">
          <div class="section-head">
            <h6 class="page-heading1 muted">HELLO WORLD!</h6>
            <span class="sub-heading"><big>I'm a Wildcard.</big> <span href="#" class="wildcard-tooltip-link" tooltip-side="bottom" tooltip-close-button="true" tooltip-smart="true" tooltip-class="wildcard-tip" tooltips tooltip-template-url="views/partials/_wildcard_tooltip.html"><small>(?)</small></span></span>
            <br><br>
            <p class="muted">A designer + technologist, fueling my career from the curiosity of understanding nature through the tool of observation.</p>
          </div>
        </div>
        <div class="cell small-12 medium-6 large-7 small-order-2 medium-order-2 large-order-2">
          <img src="{{getProfileImageUrl()}}" alt="ankur-agrawal" class="profile-picture" width="80%">
        </div>
      </div>
    </section>

    <section class="summary" ng-if="about.summary">
      <h6 class="section-heading">Summary</h6>
      <div class="section-body" ng-bind-html="about.summary"></div>
    </section>

    <section class="description" ng-if="about.description">
      <h6 class="section-heading">More about me</h6>
      <div class="section-body" ng-bind-html="about.description"></div>
    </section>

    <section class="experiences" ng-if="about['experiences']">
      <h6 class="section-heading">Experiences</h6>
      <div class="section-body">
        <div class="direction-aware-container">
          <ul>
            <li ng-repeat="experience in about['experiences']">
              <a ng-href="about/{{experience}}" target="_blank" class="normal">
                <img src="{{getExperienceImageUrl(experience)}}">
                <svg viewBox="0 0 80 76" x="0px" y="0px" class="default hide">
                  <g>
                    <path d="M 68.9708 24.8623 L 60.4554 2.3018 C 59.9641 0.7017 58.1628 -0.2583 56.5252 0.3817 L 1.9822 20.2222 C 0.3822 20.7022 -0.4179 22.6222 0.2222 24.2223 L 8.8624 47.7797 L 8.8624 35.1484 C 8.8624 29.5024 13.3425 24.8623 18.8857 24.8623 L 32.9442 24.8623 L 50.63 12.862 L 60.7829 24.8623 L 68.9708 24.8623 L 68.9708 24.8623 ZM 77.098 32.0625 L 18.8857 32.0625 C 17.2512 32.0625 16.0625 33.4511 16.0625 35.1484 L 16.0625 72.8491 C 16.0625 74.5477 17.2512 75.9375 18.8857 75.9375 L 77.098 75.9375 C 78.742 75.9375 79.9376 74.5477 79.9376 72.8491 L 79.9376 35.1484 C 79.9376 33.4511 78.742 32.0625 77.098 32.0625 L 77.098 32.0625 ZM 73.0626 68.0625 L 23.9375 68.0625 L 23.9375 61.0852 L 31.4704 43.7232 L 42.7696 57.6777 L 53.4138 46.8062 L 67.1695 41.9375 L 73.0626 55.0815 L 73.0626 68.0625 L 73.0626 68.0625 Z">
                  </g>
                </svg>
              </a>
              <div class="info">
                <h6>{{experience | replaceCharacters: '-':' '}}</h6>
              </div>
            </li>
          </ul>
        </div>
      </div>
    </section>

    <section class="hobbies" ng-if="about['hobbies']">
      <h6 class="section-heading">Hobbies</h6>
      <div class="section-body">
        <div class="direction-aware-container">
          <ul>
            <li ng-repeat="hobby in about['hobbies']">
              <a ng-href="http://{{hobby}}.ankuragrawal.xyz" target="_blank" class="normal">
                <img src="{{getHobbyImageUrl(hobby)}}">
                <svg viewBox="0 0 80 76" x="0px" y="0px" class="default hide">
                  <g>
                    <path d="M 68.9708 24.8623 L 60.4554 2.3018 C 59.9641 0.7017 58.1628 -0.2583 56.5252 0.3817 L 1.9822 20.2222 C 0.3822 20.7022 -0.4179 22.6222 0.2222 24.2223 L 8.8624 47.7797 L 8.8624 35.1484 C 8.8624 29.5024 13.3425 24.8623 18.8857 24.8623 L 32.9442 24.8623 L 50.63 12.862 L 60.7829 24.8623 L 68.9708 24.8623 L 68.9708 24.8623 ZM 77.098 32.0625 L 18.8857 32.0625 C 17.2512 32.0625 16.0625 33.4511 16.0625 35.1484 L 16.0625 72.8491 C 16.0625 74.5477 17.2512 75.9375 18.8857 75.9375 L 77.098 75.9375 C 78.742 75.9375 79.9376 74.5477 79.9376 72.8491 L 79.9376 35.1484 C 79.9376 33.4511 78.742 32.0625 77.098 32.0625 L 77.098 32.0625 ZM 73.0626 68.0625 L 23.9375 68.0625 L 23.9375 61.0852 L 31.4704 43.7232 L 42.7696 57.6777 L 53.4138 46.8062 L 67.1695 41.9375 L 73.0626 55.0815 L 73.0626 68.0625 L 73.0626 68.0625 Z">
                  </g>
                </svg>
              </a>
              <div class="info">
                <h6>{{hobby}}</h6>
              </div>
            </li>
          </ul>
        </div>
      </div>
    </section>
  </article>
</div>
