<div ng-if="awards" class="awards-page fadeIn animated item-list">
  <article role="article">
    <header class="page-banner">
      <h4 sticky sticky-class="is-sticky" class="page-heading left animated" id="prj-title">Awards</h4>
    </header>
    <section>
      <div class="section-body">
        <a class="award" href="about/awards/{{slug}}" ng-repeat="(slug, award) in awards">
          <div class="grid-x grid-padding-x grid-padding-y">
            <div class="cell auto">
              <h5 class="title">{{award.title}}</h5>
              <div class="muted organization">{{award.organization}}</div>
              <span class="muted date"><small>{{award.date}}</small></span>
            </div>
          </div>
        </a>
      </div>
    </section>
  </article>
</div>
<ng-include ng-if="!awards" src="'views/404.html'"></ng-include>
