<div ng-if="experiences" class="experiences-page fadeIn animated item-list">
  <article role="article">
    <header class="page-banner">
      <h4 sticky sticky-class="is-sticky" class="page-heading left animated" id="prj-title">{{experiences.slug | titlecase}}</h4>
    </header>
    <section>
      <div class="section-body">
        <div class="experience" href="about/experience/{{experiences.slug}}/{{slug}}" ng-repeat="(slug, experience) in experiences">
          <div class="grid-x grid-padding-x grid-padding-y">
            <div class="cell auto">
              <h5 class="title">{{experience.title}}</h5>
              <div class="muted organization"><small>{{experience.organization}}</small></div>
              <span class="muted date"><small>{{experience.date}}</small></span>
              <ul ng-if="experience.description" class="list">
                <li ng-repeat="description in experience.description">
                  <small>{{description}}</small>
                </li>
              </ul>
            </div>
          </div>
        </div>
      </div>
    </section>
  </article>
</div>
<ng-include ng-if="!experiences" src="'views/404.html'"></ng-include>
