<div ng-if="project" class="project-page fadeIn animated {{project.slug}}">
  <article role="article">
    <header class="page-banner">
      <h4 sticky sticky-class="is-sticky" class="page-heading left animated" id="prj-title">{{project.title}}</h4>
    </header>
      <div class="summary">{{project.summary}}</div>
      <div class="grid-x">
        <div class="project-metadata cell small-12 medium-12 large-2 small-order-1 medium-order-1 large-order-2">
          <aside>
            <dl ng-if="project.timeline" class="metadata">
              <dt>Date</dt>
              <dd>{{project.timeline}}</dd>
            </dl>
            <dl ng-if="project.role" class="metadata">
              <dt>My Role</dt>
              <dd ng-repeat="role in project.role | split:','">
                {{role}}
              </dd>
            </dl>
            <dl ng-if="project.tools" class="metadata">
              <dt>Tools Used</dt>
              <dd ng-repeat="tool in project.tools | split:','">
                {{tool}}
              </dd>
            </dl>
            <dl ng-if="project.team" class="metadata">
              <dt>Team Members</dt>
              <dd ng-repeat="member in project.team | split:','">
                {{member}}
              </dd>
            </dl>
          </aside>
        </div>
        <div class="project-details cell small-12 medium-12 large-9 small-order-2 medium-order-2 large-order-1">
          <section class="description" ng-if="project.description">
            <div class="section-body" bind-html-compile="project.description"></div>
          </section>
          <section class="project-external-links" ng-if="project['external-links']">
            <div class="section-body">
              <a class='link' ng-href='{{link.file}}' title='{{link.title}}' target='_blank' aria-haspopup='true' ng-repeat="link in project['external-links']">
                <em class='icon icon-file'></em> <b>{{link.caption}}</b>
              </a>
            </div>
          </section>
          <section class="project-internal-links" ng-if="project['internal-links']">
            <div class="section-body">
              <a class='link' ng-href='{{link.file}}' title='{{link.title}}' aria-haspopup='true' ng-repeat="link in project['internal-links']">
                <em class='icon icon-file'></em> <b>{{link.caption}}</b>
              </a>
            </div>
          </section>
          <div class="center">
            <div class="voteup-anim" ng-class="{voted: isVoted}">
              <a href="" ng-click="voteUp()" class="voteup">
                <em class="icon icon-thumbsup"></em>
                <b>{{project.votes}}</b>
              </a>
              <span class="sr-only">{{project.votes}} appreciation for this project.</span>
              <span>{{project.votes}} </span>
            </div>
          </div>
        </div>
      </div>
  </article>
</div>

<ng-include ng-if="project" src="'views/partials/_photo_swipe.html'"></ng-include>
<ng-include ng-if="!project" src="'views/404.html'"></ng-include>
